/*

!.XWinrc
!.ansible/vault.sh
!.bash.d/01_prompt.sh
!.bash_functions.d/*
!.bash_logout
!.bash_profile
!.config/*
!.gitconfig
!.gitignore
!.gnupg/*
!.local/*
!.profile
!.ssh/*
!.tmux.conf
!.vagrant.d/*
!.vimrc
